 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 371px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 408px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 408px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 257px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 386px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 279px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 774px;
}

.u-section-2 .u-image-1 {
  width: 490px;
  height: 384px;
  margin: 6px -30px 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 661px;
  margin: -587px auto -197px -11px;
}

.u-section-2 .u-layout-cell-1 {
  background-image: none;
  min-height: 404px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 10px 32px 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 29px 35px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 404px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 19px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 9px 32px 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 29px 35px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 378px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 18px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 10px 32px 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 29px 35px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 378px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 18px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 10px 32px 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 29px 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-2 .u-image-1 {
    width: 570px;
    margin-top: 207px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-top: 20px;
    margin-left: 89px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    width: 149px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin: 21px 22px 40px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    width: 149px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin: 21px 22px 40px;
  }

  .u-section-2 .u-text-5 {
    position: relative;
    width: 149px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    position: relative;
    margin: 21px 22px 40px;
  }

  .u-section-2 .u-text-7 {
    position: relative;
  }

  .u-section-2 .u-text-8 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 33px;
    margin-right: 58px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin: 72px 0 0 auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-1 {
    width: 114px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-3 {
    width: 114px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-text-5 {
    width: 114px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1384px;
  }

  .u-section-2 .u-image-1 {
    height: 364px;
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-text-1 {
    width: 107px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-text-3 {
    width: 107px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-text-5 {
    width: 107px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1406px;
  }

  .u-section-2 .u-image-1 {
    height: 229px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 10px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    width: 90px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-3 {
    width: 90px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-5 {
    width: 90px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 395px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/a50d54cfa6a9c9960c1f3f1e36fc76608f3866e2fe2baa8765d32b217787051e43eff7c2dea6ce4c568cae6cd6e1700c8f6b2dba563a46eb0440c9_1280.png");
  min-height: 415px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 415px;
}

.u-section-3 .u-text-1 {
  margin: 40px 20px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px 20px 40px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-btn-1 {
    position: relative;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 610px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 58px auto 44px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 481px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-4 .u-text-1 {
  margin: 40px 0 0 11px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 479px;
}

.u-section-4 .u-image-1 {
  height: 324px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 40px 23px 20px;
}

.u-section-4 .u-layout-cell-3 {
  background-image: none;
  min-height: 479px;
}

.u-section-4 .u-image-2 {
  height: 324px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 30px 40px 23px 20px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 479px;
  background-image: none;
}

.u-section-4 .u-image-3 {
  height: 324px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: 30px 39px 39px 21px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: -16px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 410px;
  }

  .u-section-4 .u-image-1 {
    height: 281px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    font-size: 1.25rem;
    margin: 16px 16px 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 410px;
  }

  .u-section-4 .u-image-2 {
    height: 281px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    font-size: 1.25rem;
    margin: 16px 16px 0 9px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 424px;
  }

  .u-section-4 .u-image-3 {
    height: 281px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    font-size: 1.25rem;
    margin: 16px 16px 0 9px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-4 .u-text-2 {
    margin: 35px 19px 23px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 393px;
  }

  .u-section-4 .u-text-3 {
    margin: 35px 19px 23px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 393px;
  }

  .u-section-4 .u-text-4 {
    margin: 35px 19px 23px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1436px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 9px;
    margin-left: 9px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 402px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 9px;
    margin-left: 9px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 402px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 9px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1459px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 12px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 12px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 12px;
    margin-left: 6px;
  }
} .u-section-5 {
  min-height: 539px;
}

.u-section-5 .u-layout-wrap-1 {
  pointer-events: auto;
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 1px 0 1px auto;
}

.u-section-5 .u-layout-cell-1 {
  pointer-events: auto;
  min-height: 538px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 60px;
}

.u-section-5 .u-text-1 {
  margin: 55px 34px 0 0;
}

.u-section-5 .u-line-1 {
  width: 30px;
  position: relative;
  transform-origin: right center 0;
  margin: 34px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 34px 60px 0 0;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 34px auto 55px 0;
}

.u-section-5 .u-image-1 {
  pointer-events: auto;
  min-height: 538px;
  background-image: url("images/kuki_drone_delivery.jpg");
}

.u-section-5 .u-container-layout-2 {
  padding: 0 47px 0 18px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 445px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 49px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 60px;
    margin-right: 63px;
    margin-left: 20px;
  }

  .u-section-5 .u-line-1 {
    width: 25px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 63px;
    margin-left: 20px;
  }

  .u-section-5 .u-btn-1 {
    position: relative;
    width: 169px;
    margin-bottom: 0;
    margin-left: 20px;
  }

  .u-section-5 .u-image-1 {
    background-position: 50% 50%;
    min-height: 444px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 362px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 770px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 47px;
    margin-right: 47px;
    margin-left: 0;
  }

  .u-section-5 .u-line-1 {
    width: 19px;
    margin-top: 45px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 56px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    width: 129px;
    margin-top: 47px;
    margin-bottom: 47px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    background-position: 25.59% 100%;
    min-height: 361px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 46px;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 579px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 22px;
  }

  .u-section-5 .u-line-1 {
    width: 18px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 27px;
  }

  .u-section-5 .u-btn-1 {
    width: 121px;
  }

  .u-section-5 .u-image-1 {
    min-height: 478px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 402px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 74px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-5 .u-line-1 {
    width: 35px;
    transform-origin: left center 0;
    transform: rotate(359.937deg);
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-btn-1 {
    width: 102px;
    margin-top: 45px;
    margin-left: auto;
    margin-bottom: 55px;
  }

  .u-section-5 .u-image-1 {
    min-height: 301px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 615px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 202px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 2px 0 0;
}

.u-section-6 .u-icon-1 {
  font-size: 2.3126em;
  margin-right: 6px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 2px auto 0 0;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 269px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-6 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 28px auto 0 0;
}

.u-section-6 .u-icon-3 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-6 .u-icon-4 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-6 .u-icon-5 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 471px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-6 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0 0 0 20px;
}

.u-section-6 .u-form-1 {
  height: 307px;
  width: 510px;
  margin: 11px 0 0;
}

.u-section-6 .u-form-group-3 {
  margin-left: 0;
}

.u-section-6 .u-btn-2 {
  border-style: none;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 167px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 222px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 388px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
  }

  .u-section-6 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
  }
}